<div id="experiences" class="row stylish-pallete-tan info-section">
  <div class="col-12">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-7 text-center">
        <h1 class="display-4" style="color:#7395AE">Experiences</h1>
        <hr/>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-7">
        <div class="row">
          <div class="col-12">
            <h3 class="font-weight-light" style="color:#818181">Career</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h5>Onemain Financial</h5>
          </div>
          <div class="col-12 col-md-6 col-lg-5 align-items-end">
            <div class="row">
              <div class="col-12">
                July 2017 - Present
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-7 align-items-end">
            <div class="row">
              <div class="col-12">
                <strong>Software Engineer</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                Software Engineer focused on system design and efficiencies for ACAPS and Bureaulink in the credit risk department.
                Heavy utilization of CICS and DB2 in a time-sensitive, 24x7 environment; both modifications of existing applications as well as new system design.
                Handle most projects from requirements gathering to project delivery and support.
                Provide 24x7 support for all responsible systems.
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-5 align-items-end">
            <div class="row">
              <div class="col-12">
                Mar 2015 - July 2017
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-7 align-items-end">
            <div class="row">
              <div class="col-12">
                <strong>Programmer Analyst Sr</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                Developed software in a mostly batch environment for our insurance systems.
                Primary developer on installation and support of web-based addition to our XYCOR insurance system providing our business partners with a secondary option new hires were more comfortable with.
                Completed projects through analysis, design, and development and provided 24x7 support for insurance software.
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-5 align-items-end">
            <div class="row">
              <div class="col-12">
                Dec 2013 - Mar 2015
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-7 align-items-end">
            <div class="row">
              <div class="col-12">
                <strong>Programmer Analyst</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                Developed software in a mostly batch environment for our insurance systems.
                Focused heavily on data warehouse conversion from DB2 to SQL Server, writing all corresponding batch and program changes required.
                Involved in some analysis, completed code review, and managed system and project documentation.
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-5 align-items-end">
            <div class="row">
              <div class="col-12">
                May 2013 - Dec 2013
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-7 align-items-end">
            <div class="row">
              <div class="col-12">
                <strong>Intern</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                Completed COBOL and legacy systems training as well as learned the functional programming approach.
                Tackled smaller project assignments including accepting third party data into an online system.
                Worked project documentation and became accustomed to the SDLC process used at Onemain.
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12">
            <h5>Indiana Tube Corporation</h5>
          </div>
          <div class="col-12 col-md-6 col-lg-5 align-items-end">
            <div class="row">
              <div class="col-12">
                May 2012 - May 2013
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-7 align-items-end">
            <div class="row">
              <div class="col-12">
                <strong>Intern</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                Modified an in-house ERP system for report generation and data storage.
                Created all new employee training documentation that is being used today as well as revamped their storage and accessing of these documents.
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12">
            <h3 class="font-weight-light" style="color:#818181">Education</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h5>University of Southern Indiana</h5>
          </div>
          <div class="col-12 col-md-6 col-lg-5 align-items-end">
            <div class="row">
              <div class="col-12">
                Sept 2009 - Dec 2013
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-7 align-items-end">
            <div class="row">
              <div class="col-12">
                <strong>Bachelors of Science, Computer Science</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                Focused primarily on object-oriented progamming specializing in Java and .NET languages, data normalization/SQL development, and system design.
                Secondary focus on web pertaining to full-stack development utlized on individual projects.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
