<div id="skills" class="row info-section">
  <div class="col-12">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-7 text-center">
        <h1 class="display-4" style="color:#7395AE">Skills</h1>
        <hr/>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-7">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="row">
              <div class="col-7">
                <span>COBOL</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <span>CICS</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <span>JCL</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <span>RDz/IDz</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <span>IBM Debug</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <span>IBM File Manager</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <span>Word</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <span>Java</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="far fa-star"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <span>SQL</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="far fa-star"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <span>C#</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="far fa-star"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <span>Bootstrap 4</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="far fa-star"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <span>HTML</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="far fa-star"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <span>Javascript</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="far fa-star"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <span>IntelliJ</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="far fa-star"></span>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="row">
              <div class="col-7">
                <span>Eclipse</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="far fa-star"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <span>DB2</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="far fa-star"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <span>Changeman</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="far fa-star"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <span>IBM Fault Analyzer</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="far fa-star"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <span>JIRA</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="far fa-star"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <span>Excel</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="far fa-star"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <span>Visio</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="far fa-star"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <span>IBM DBtools</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <span>HFS</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <span>Angular 2+</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <span>CSS</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <span>PowerPoint</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <span>VBA</span>
              </div>
              <div class="col-5 text-right text-md-left">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
                <span class="far fa-star"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
