<div id="profile" class="info-section scroll-down">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-7 text-center">
      <h1 class="display-4" style="color:#7395AE">Profile</h1>
      <h5 class="font-weight-light" style="color: #818181">an inquisitive developer</h5>
      <hr/>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-3 col-lg-2 text-center text-md-right">
      <h3 class="font-weight-light" style="color: #818181">About Me</h3>
      <p>
        I'm a Software Engineer with a passion for full-stack development.
        With years of backend programming and data modeling, I'm looking for opportunities to expand my front-end exposure.
        I love working in a team-centric environment to deliver the best possible result.
      </p>
    </div>
    <div class="col-12 col-md-4 col-lg-3 text-center">
      <img src="./assets/images/portrait.png" alt="Portrait" class="portrait">
    </div>
    <div class="col-12 col-md-3 col-lg-2 text-center text-md-left">
      <div class="row">
        <div class="col-12">
          <h3 class="font-weight-light" style="color: #818181">Details</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <strong class="font-weight-light" style="color: #818181">Name</strong>
        </div>
        <div class="col-12">
          Jarod Daming
        </div>
      </div>
      <div class="row pt-1">
        <div class="col-12">
          <strong class="font-weight-light" style="color: #818181">Age</strong>
        </div>
        <div class="col-12">
          {{ age }} years
        </div>
      </div>
      <div class="row pt-1">
        <div class="col-12">
          <strong class="font-weight-light" style="color: #818181">Location</strong>
        </div>
        <div class="col-12">
          Evansville, IN USA
        </div>
      </div>
    </div>
  </div>
</div>
